<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{APP_NAME}</title>
        {STATIC_INCLUDE}
    </head>
    <body{BODY_ATTRIBUTES}>
        {MODULE_CONFIG}
        {BOOTSTRAP}
    </body>
</html>